In [46]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

### Load the dataset

In [2]:
df = pd.read_excel(r"D:\INNOMATICS\DATA ANALYTICS\01-Python\final project\files\final_df.xlsx")

### Inspect the dataset

In [49]:
df.shape # check the shape of the datatset

(503, 10)

In [50]:
df.head()  # Check top 5 observations

,Hotel,Location,Ratings,No_of_Ratings,Original_price,Discount_price,Taxes,Building_Type,House_Rule,hotel_type
0,Hotel Campal,Panjim,3.8,1164,2549,2042,528,Apartment,Alcohol Allowed,3 star
1,ibis Styles Goa Calangute - An Accor Brand,Calangute,4.1,4348,5750,0,690,Apartment,Unmarried Couples Allowed,4 star
2,SinQ Prive,Candolim,4.0,2251,3690,3010,720,Apartment,Alcohol Allowed,5 star
3,"Ginger Goa, Panjim",Panjim,3.9,5840,5149,0,618,Apartment,Alcohol Allowed,3 star
5,"The Yellow House, Goa - IHCL SeleQtions",Anjuna,4.2,71,7499,0,900,Resort,Alcohol Allowed,5 star

In [3]:
df.drop(columns = 'Unnamed: 0', inplace = True)

In [4]:
df.head(30)

,Hotel,Location,Ratings,No_of_Ratings,No_of_Reviews,Original_price,Discount_price,Taxes,Building_Type,House_Rule,hotel_type
0,Hotel Campal,Panjim,3.8,1164.0,646.0,"2,549","2,042",528,Apartment,Alcohol Allowed,NaN
1,ibis Styles Goa Calangute - An Accor Brand,Calangute,4.1,4348.0,2615.0,"5,750",NaN,690,Apartment,Unmarried Couples Allowed,4 star
2,SinQ Prive,Candolim,4.0,2251.0,1239.0,"3,690","3,010",720,Apartment,Alcohol Allowed,5 star
3,"Ginger Goa, Panjim",Panjim,3.9,5840.0,3566.0,"5,149",NaN,618,Apartment,Alcohol Allowed,3 star
4,Calangute Heights by Stay ALYF | Luxury 1 BHK ...,Calangute,4.6,235.0,111.0,"6,500","2,657",736,NaN,Unmarried Couples Allowed,3 star
5,"The Yellow House, Goa - IHCL SeleQtions",Anjuna,4.2,71.0,30.0,"7,499",NaN,900,Resort,Alcohol Allowed,5 star
6,I Love Bell Bottoms Vagator Goa,Vagator,4.2,1272.0,853.0,"8,479","3,800",908,Apartment,Unmarried Couples Allowed,NaN
7,Novotel Goa Panjim,Panjim,NaN,NaN,NaN,"12,29",NaN,"2,214",Apartment,Alcohol Allowed,5 star
8,Goa Woodlands Hotel,Margao,4.1,1503.0,982.0,"3,500","2,859",754,Apartment,Unmarried Couples Allowed,3 star
9,Half,Calangute,4.5,68.0,35.0,"5,500","3,149",754,NaN,Alcohol Allowed,NaN
10,Hotel Jyoti Plaza,Margao,3.8,1035.0,515.0,"3,105","1,839",520,Apartment,Unmarried Couples Allowed,3 star
11,Carnival De Goa - Luxury Apartment near Candolim,Candolim,4.5,286.0,104.0,"4,800","2,168",672,NaN,Unmarried Couples Allowed,3 star
12,"Taj Exotica Resort & Spa, Goa",Benaulim,4.7,1168.0,640.0,"19,50",NaN,"3,510",Apartment,Alcohol Allowed,5 star
13,The Park Calangute,Calangute,3.9,784.0,484.0,"12,37",NaN,"2,351",Resort,Alcohol Allowed,4 star
14,TreeHouse Neptune,Panjim,3.8,956.0,651.0,"10,35",NaN,"2,186",Apartment,Alcohol Allowed,4 star
15,360 Bliss Dia Homes,Nerul,4.5,92.0,49.0,"5,040","2,103",516,NaN,Unmarried Couples Allowed,3 star
16,The Park Baga River Goa (Adults only Property),Baga,4.1,1736.0,972.0,"17,00",NaN,"3,060",Resort,Alcohol Allowed,5 star
17,"Taj Fort Aguada Resort & Spa, Goa",Candolim,4.6,2880.0,1720.0,"16,00",NaN,"2,880",Apartment,Alcohol Allowed,5 star
18,Turtle Beach Resort - Morjim,Morjim,3.8,1206.0,657.0,"4,300","1,878",566,Apartment,Alcohol Allowed,NaN
19,Amigos Candolim Beach,Candolim,4.0,613.0,286.0,"3,125","2,086",534,NaN,NaN,3 star
20,The Westin Goa,Anjuna,4.7,476.0,231.0,"13,74",NaN,"2,473",Resort,Alcohol Allowed,5 star
21,SinQ The Party Hotel (No Stags Allowed),Candolim,4.0,2320.0,1391.0,"2,800","2,164",518,Apartment,Alcohol Allowed,3 star
22,Hard Rock Hotel Goa Calangute,Calangute,4.1,5511.0,3288.0,"5,624","4,499",673,Resort,Alcohol Allowed,5 star
23,Goa Marriott Resort & Spa,Panjim,4.4,1171.0,621.0,"15,75",NaN,"2,835",Resort,Alcohol Allowed,5 star
24,SinQ Beach Resort,Calangute,4.0,5145.0,3205.0,"4,650","3,709",992,Resort,Unmarried Couples Allowed,3 star
25,Resort Rio,Arpora,4.0,2389.0,1665.0,"12,77",NaN,"3,220",Resort,Alcohol Allowed,5 star
26,Kamats Daffodil Resort,Povorim,4.7,82.0,30.0,"5,501","2,902",900,Apartment,Alcohol Allowed,4 star
27,Ticlo Resorts,Calangute Baga Road,3.8,1719.0,1021.0,"4,589","2,924",812,Resort,Unmarried Couples Allowed,3 star
28,ibis Styles Goa Vagator - An Accor Brand,Vagator,4.5,339.0,181.0,"5,500",NaN,660,Apartment,Alcohol Allowed,4 star
29,Sonnet-A boutique hotel by Lotus leaf Hotels,Anjuna,4.2,537.0,346.0,"4,320","3,227",910,Apartment,Alcohol Allowed,3 star

In [5]:
df.info() # Check the dataset information

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 880 entries, 0 to 879
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hotel           880 non-null    object
 1   Location        880 non-null    object
 2   Ratings         849 non-null    float64
 3   No_of_Ratings   864 non-null    float64
 4   No_of_Reviews   714 non-null    float64
 5   Original_price  880 non-null    object
 6   Discount_price  743 non-null    object
 7   Taxes           877 non-null    object
 8   Building_Type   572 non-null    object
 9   House_Rule      732 non-null    object
 10  hotel_type      553 non-null    object
dtypes: float64(3), object(8)
memory usage: 75.8+ KB

In [48]:
df.dtypes
df.dtypes.value_counts()

Hotel              object
Location           object
Ratings           float64
No_of_Ratings       int32
Original_price      int32
Discount_price     object
Taxes               int32
Building_Type      object
House_Rule         object
hotel_type         object
dtype: object

object     6
int32      3
float64    1
Name: count, dtype: int64

__drop unnecessary columns__

In [6]:
df.drop('No_of_Reviews', axis = 1, inplace = True)

In [7]:
df.isnull().sum()

Hotel               0
Location            0
Ratings            31
No_of_Ratings      16
Original_price      0
Discount_price    137
Taxes               3
Building_Type     308
House_Rule        148
hotel_type        327
dtype: int64

__drop rows that have null values__

In [8]:
df.dropna(subset=['Building_Type'], inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 572 entries, 0 to 879
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hotel           572 non-null    object
 1   Location        572 non-null    object
 2   Ratings         550 non-null    float64
 3   No_of_Ratings   563 non-null    float64
 4   Original_price  572 non-null    object
 5   Discount_price  478 non-null    object
 6   Taxes           569 non-null    object
 7   Building_Type   572 non-null    object
 8   House_Rule      526 non-null    object
 9   hotel_type      429 non-null    object
dtypes: float64(2), object(8)
memory usage: 49.2+ KB

In [10]:
df.dropna(subset=['House_Rule'], inplace = True)

In [11]:
df.isna().sum()

Hotel               0
Location            0
Ratings            20
No_of_Ratings       7
Original_price      0
Discount_price     89
Taxes               3
Building_Type       0
House_Rule          0
hotel_type        120
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 526 entries, 0 to 878
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hotel           526 non-null    object
 1   Location        526 non-null    object
 2   Ratings         506 non-null    float64
 3   No_of_Ratings   519 non-null    float64
 4   Original_price  526 non-null    object
 5   Discount_price  437 non-null    object
 6   Taxes           523 non-null    object
 7   Building_Type   526 non-null    object
 8   House_Rule      526 non-null    object
 9   hotel_type      406 non-null    object
dtypes: float64(2), object(8)
memory usage: 45.2+ KB

In [13]:
df['Ratings'].isna().sum()

20

In [14]:
df[df['Ratings'].isna()]

,Hotel,Location,Ratings,No_of_Ratings,Original_price,Discount_price,Taxes,Building_Type,House_Rule,hotel_type
7,Novotel Goa Panjim,Panjim,NaN,NaN,"12,29",NaN,"2,214",Apartment,Alcohol Allowed,5 star
68,SaffronStays Magnolias by River Moira,Bardez,NaN,NaN,"35,63",NaN,"5,887",Villa,Unmarried Couples Allowed,NaN
79,Ocean View The Apartment Hotel,Mormugao,NaN,67.0,"4,999","3,277",696,Apartment,Alcohol Allowed,3 star
194,"Country Inn Panjim Goa, Goa",Panjim,NaN,209.0,"4,850","4,123",495,Apartment,Alcohol Allowed,4 star
279,Palette Saligao Porvorim,Bardez,NaN,NaN,"4,523","1,191",253,Apartment,Alcohol Allowed,NaN
304,Olive Alidia Beach Resort by Embassy Group,Baga,NaN,NaN,"3,570","2,338",478,Resort,Alcohol Allowed,3 star
475,Sea breeze Village Baga,Calangute Baga Road,NaN,237.0,"3,700","3,098",633,Hotel,Alcohol Allowed,3 star
500,Tangerine Boutique Resort,Calangute,NaN,157.0,"5,000","3,105",634,Resort,Alcohol Allowed,3 star
647,Senhor Angelo Resort,Calangute,NaN,54.0,"2,200","1,802",416,Resort,Alcohol Allowed,NaN
650,Rivasa Resort,Calangute Baga Road,NaN,698.0,"1,785","1,661",339,Apartment,Unmarried Couples Allowed,3 star
698,HOTEL BHAGWATI BY PEARL HARBOUR,Baga,NaN,48.0,"3,650","1,851",505,Apartment,Alcohol Allowed,NaN
708,Grandeur De Sanchi- Luxury Beach Resort & Spa,Calangute,NaN,67.0,"9,675","6,479","1,324",Resort,Alcohol Allowed,4 star
733,Marron Sea View Resort,Palolem,NaN,NaN,"5,750","5,348","1,093",Resort,Alcohol Allowed,NaN
737,Clifftop Cottages,Calangute,NaN,3.0,"3,600","2,545",520,Hotel,Alcohol Allowed,NaN
764,Garden View,Arpora,NaN,NaN,"2,600","2,339",494,Villa,Unmarried Couples Allowed,NaN
773,Sea Breeze Inn Calangute,Calangute Baga Road,NaN,327.0,"2,600","2,177",445,Resort,Alcohol Allowed,3 star
775,Swastik Homestay | Rooms & Restaurant,Calangute,NaN,403.0,"1,372","1,115",276,Homestay,Alcohol Allowed,NaN
841,Eve Resort Patnem,Palolem,NaN,NaN,"3,000","1,973",455,Apartment,Unmarried Couples Allowed,4 star
856,Hotel Manvin's,Panjim,NaN,88.0,"4,699","2,550",576,Apartment,Alcohol Allowed,3 star
876,Marcello Villa | Rooms & Caretaker,Baga,NaN,314.0,999₹,201 t,201,Villa,Alcohol Allowed,NaN

In [15]:
df = df[~(df['Ratings'].isna() & df['No_of_Ratings'].notna())]

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 513 entries, 0 to 878
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hotel           513 non-null    object
 1   Location        513 non-null    object
 2   Ratings         506 non-null    float64
 3   No_of_Ratings   506 non-null    float64
 4   Original_price  513 non-null    object
 5   Discount_price  424 non-null    object
 6   Taxes           510 non-null    object
 7   Building_Type   513 non-null    object
 8   House_Rule      513 non-null    object
 9   hotel_type      398 non-null    object
dtypes: float64(2), object(8)
memory usage: 44.1+ KB

In [17]:
df[df['Ratings'].isna()]

,Hotel,Location,Ratings,No_of_Ratings,Original_price,Discount_price,Taxes,Building_Type,House_Rule,hotel_type
7,Novotel Goa Panjim,Panjim,NaN,NaN,"12,29",NaN,"2,214",Apartment,Alcohol Allowed,5 star
68,SaffronStays Magnolias by River Moira,Bardez,NaN,NaN,"35,63",NaN,"5,887",Villa,Unmarried Couples Allowed,NaN
279,Palette Saligao Porvorim,Bardez,NaN,NaN,"4,523","1,191",253,Apartment,Alcohol Allowed,NaN
304,Olive Alidia Beach Resort by Embassy Group,Baga,NaN,NaN,"3,570","2,338",478,Resort,Alcohol Allowed,3 star
733,Marron Sea View Resort,Palolem,NaN,NaN,"5,750","5,348","1,093",Resort,Alcohol Allowed,NaN
764,Garden View,Arpora,NaN,NaN,"2,600","2,339",494,Villa,Unmarried Couples Allowed,NaN
841,Eve Resort Patnem,Palolem,NaN,NaN,"3,000","1,973",455,Apartment,Unmarried Couples Allowed,4 star

In [18]:
df[df['No_of_Ratings'].isna()]

,Hotel,Location,Ratings,No_of_Ratings,Original_price,Discount_price,Taxes,Building_Type,House_Rule,hotel_type
7,Novotel Goa Panjim,Panjim,NaN,NaN,"12,29",NaN,"2,214",Apartment,Alcohol Allowed,5 star
68,SaffronStays Magnolias by River Moira,Bardez,NaN,NaN,"35,63",NaN,"5,887",Villa,Unmarried Couples Allowed,NaN
279,Palette Saligao Porvorim,Bardez,NaN,NaN,"4,523","1,191",253,Apartment,Alcohol Allowed,NaN
304,Olive Alidia Beach Resort by Embassy Group,Baga,NaN,NaN,"3,570","2,338",478,Resort,Alcohol Allowed,3 star
733,Marron Sea View Resort,Palolem,NaN,NaN,"5,750","5,348","1,093",Resort,Alcohol Allowed,NaN
764,Garden View,Arpora,NaN,NaN,"2,600","2,339",494,Villa,Unmarried Couples Allowed,NaN
841,Eve Resort Patnem,Palolem,NaN,NaN,"3,000","1,973",455,Apartment,Unmarried Couples Allowed,4 star

In [19]:
df.dropna(subset = ['Ratings', 'No_of_Ratings'], inplace = True)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 506 entries, 0 to 878
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hotel           506 non-null    object
 1   Location        506 non-null    object
 2   Ratings         506 non-null    float64
 3   No_of_Ratings   506 non-null    float64
 4   Original_price  506 non-null    object
 5   Discount_price  419 non-null    object
 6   Taxes           503 non-null    object
 7   Building_Type   506 non-null    object
 8   House_Rule      506 non-null    object
 9   hotel_type      395 non-null    object
dtypes: float64(2), object(8)
memory usage: 43.5+ KB

In [21]:
df.dropna(subset = ['Taxes'], inplace = True)

In [22]:
df.head(100)

,Hotel,Location,Ratings,No_of_Ratings,Original_price,Discount_price,Taxes,Building_Type,House_Rule,hotel_type
0,Hotel Campal,Panjim,3.8,1164.0,"2,549","2,042",528,Apartment,Alcohol Allowed,NaN
1,ibis Styles Goa Calangute - An Accor Brand,Calangute,4.1,4348.0,"5,750",NaN,690,Apartment,Unmarried Couples Allowed,4 star
2,SinQ Prive,Candolim,4.0,2251.0,"3,690","3,010",720,Apartment,Alcohol Allowed,5 star
3,"Ginger Goa, Panjim",Panjim,3.9,5840.0,"5,149",NaN,618,Apartment,Alcohol Allowed,3 star
5,"The Yellow House, Goa - IHCL SeleQtions",Anjuna,4.2,71.0,"7,499",NaN,900,Resort,Alcohol Allowed,5 star
...,...,...,...,...,...,...,...,...,...,...
158,Bogmallo Beach Resort,Bogmalo Beach,3.8,2445.0,"10,00",NaN,"2,500",Resort,Alcohol Allowed,NaN
161,The Crown Goa,31st January Road,4.1,879.0,"11,10",NaN,"1,998",Apartment,Alcohol Allowed,NaN
165,Heritage Village Resort & Spa Goa,Arossim Beach,4.4,1074.0,"10,99",NaN,"1,782",Resort,Alcohol Allowed,5 star
168,Tan N Sand,Ashwem Beach,3.9,165.0,"10,70",NaN,"1,830",Apartment,Alcohol Allowed,4 star
169,Estrela Do Mar Beach Resort - A Beach Property,Calangute,3.8,7476.0,"6,667","4,418",903,Resort,Alcohol Allowed,4 star

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 503 entries, 0 to 878
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hotel           503 non-null    object
 1   Location        503 non-null    object
 2   Ratings         503 non-null    float64
 3   No_of_Ratings   503 non-null    float64
 4   Original_price  503 non-null    object
 5   Discount_price  419 non-null    object
 6   Taxes           503 non-null    object
 7   Building_Type   503 non-null    object
 8   House_Rule      503 non-null    object
 9   hotel_type      394 non-null    object
dtypes: float64(2), object(8)
memory usage: 43.2+ KB

In [24]:
#clean original, discount, taxes prices

In [25]:
df['Original_price'] = df['Original_price'].replace({'₹': '', ',': ''}, regex=True).astype(int)

In [26]:
df['Original_price'].dtype

dtype('int32')

In [27]:
df.head()

,Hotel,Location,Ratings,No_of_Ratings,Original_price,Discount_price,Taxes,Building_Type,House_Rule,hotel_type
0,Hotel Campal,Panjim,3.8,1164.0,2549,"2,042",528,Apartment,Alcohol Allowed,NaN
1,ibis Styles Goa Calangute - An Accor Brand,Calangute,4.1,4348.0,5750,NaN,690,Apartment,Unmarried Couples Allowed,4 star
2,SinQ Prive,Candolim,4.0,2251.0,3690,"3,010",720,Apartment,Alcohol Allowed,5 star
3,"Ginger Goa, Panjim",Panjim,3.9,5840.0,5149,NaN,618,Apartment,Alcohol Allowed,3 star
5,"The Yellow House, Goa - IHCL SeleQtions",Anjuna,4.2,71.0,7499,NaN,900,Resort,Alcohol Allowed,5 star

In [28]:
df['No_of_Ratings'] = df['No_of_Ratings'].astype(int)

In [29]:
df.Discount_price.fillna(0,inplace = True)

In [30]:
print(df['Discount_price'].value_counts().head(100))

Discount_price
0         84
 3,349     3
 2,164     3
 2,048     3
 2,458     3
          ..
 1,714     1
 6,983     1
 1,040     1
 2,121     1
 599+      1
Name: count, Length: 100, dtype: int64

In [31]:
df['Discount_price'] = df['Discount_price'].str.replace('+','')
df['Discount_price'] = df['Discount_price'].str.replace(' t','')
df['Discount_price'] = df['Discount_price'].str.replace(',','')

In [32]:
df.Discount_price.fillna('0', inplace = True)

In [33]:
df.Discount_price.astype(int)

0      2042
1         0
2      3010
3         0
5         0
       ...
869    4772
872       0
874       0
877     911
878       0
Name: Discount_price, Length: 503, dtype: int32

In [34]:
df['Discount_price'].value_counts()

Discount_price
0        84
 3349     3
 2164     3
 2048     3
 2458     3
         ..
 2587     1
 3204     1
 3004     1
 2009     1
 911      1
Name: count, Length: 384, dtype: int64

project data cleaning:

In [35]:
df['Taxes'] = df['Taxes'].str.replace('+','')
df['Taxes'] = df['Taxes'].str.replace(',','')

In [36]:
df['Taxes'] = df['Taxes'].astype(int)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 503 entries, 0 to 878
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hotel           503 non-null    object
 1   Location        503 non-null    object
 2   Ratings         503 non-null    float64
 3   No_of_Ratings   503 non-null    int32
 4   Original_price  503 non-null    int32
 5   Discount_price  503 non-null    object
 6   Taxes           503 non-null    int32
 7   Building_Type   503 non-null    object
 8   House_Rule      503 non-null    object
 9   hotel_type      394 non-null    object
dtypes: float64(1), int32(3), object(6)
memory usage: 37.3+ KB

In [38]:
df

,Hotel,Location,Ratings,No_of_Ratings,Original_price,Discount_price,Taxes,Building_Type,House_Rule,hotel_type
0,Hotel Campal,Panjim,3.8,1164,2549,2042,528,Apartment,Alcohol Allowed,NaN
1,ibis Styles Goa Calangute - An Accor Brand,Calangute,4.1,4348,5750,0,690,Apartment,Unmarried Couples Allowed,4 star
2,SinQ Prive,Candolim,4.0,2251,3690,3010,720,Apartment,Alcohol Allowed,5 star
3,"Ginger Goa, Panjim",Panjim,3.9,5840,5149,0,618,Apartment,Alcohol Allowed,3 star
5,"The Yellow House, Goa - IHCL SeleQtions",Anjuna,4.2,71,7499,0,900,Resort,Alcohol Allowed,5 star
...,...,...,...,...,...,...,...,...,...,...
869,Aarju Luxurious Wave,Calangute,4.1,24,6840,4772,975,Resort,Alcohol Allowed,NaN
872,"The Postcard Hideaway, Netravali, Goa",South Goa,4.9,19,3070,0,3260,Resort,Alcohol Allowed,5 star
874,V are Family | Three Solace 3 BHK Villa,Candolim,4.4,27,3001,0,5403,Villa,Alcohol Allowed,4 star
877,Subhash Guest House,Baga,3.4,180,1000,911,210,Guest House,Alcohol Allowed,NaN
878,Villa Calangute Phase 12,Calangute,4.4,91,3060,0,5508,Villa,Alcohol Allowed,NaN

In [39]:
df.hotel_type.value_counts(dropna = False)

hotel_type
3 star    238
4 star    110
NaN       109
5 star     46
Name: count, dtype: int64

In [40]:
df['hotel_type'].fillna(df['hotel_type'].mode()[0], inplace = True)

In [41]:
df.hotel_type.value_counts()

hotel_type
3 star    347
4 star    110
5 star     46
Name: count, dtype: int64

In [42]:
df

,Hotel,Location,Ratings,No_of_Ratings,Original_price,Discount_price,Taxes,Building_Type,House_Rule,hotel_type
0,Hotel Campal,Panjim,3.8,1164,2549,2042,528,Apartment,Alcohol Allowed,3 star
1,ibis Styles Goa Calangute - An Accor Brand,Calangute,4.1,4348,5750,0,690,Apartment,Unmarried Couples Allowed,4 star
2,SinQ Prive,Candolim,4.0,2251,3690,3010,720,Apartment,Alcohol Allowed,5 star
3,"Ginger Goa, Panjim",Panjim,3.9,5840,5149,0,618,Apartment,Alcohol Allowed,3 star
5,"The Yellow House, Goa - IHCL SeleQtions",Anjuna,4.2,71,7499,0,900,Resort,Alcohol Allowed,5 star
...,...,...,...,...,...,...,...,...,...,...
869,Aarju Luxurious Wave,Calangute,4.1,24,6840,4772,975,Resort,Alcohol Allowed,3 star
872,"The Postcard Hideaway, Netravali, Goa",South Goa,4.9,19,3070,0,3260,Resort,Alcohol Allowed,5 star
874,V are Family | Three Solace 3 BHK Villa,Candolim,4.4,27,3001,0,5403,Villa,Alcohol Allowed,4 star
877,Subhash Guest House,Baga,3.4,180,1000,911,210,Guest House,Alcohol Allowed,3 star
878,Villa Calangute Phase 12,Calangute,4.4,91,3060,0,5508,Villa,Alcohol Allowed,3 star

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 503 entries, 0 to 878
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Hotel           503 non-null    object
 1   Location        503 non-null    object
 2   Ratings         503 non-null    float64
 3   No_of_Ratings   503 non-null    int32
 4   Original_price  503 non-null    int32
 5   Discount_price  503 non-null    object
 6   Taxes           503 non-null    int32
 7   Building_Type   503 non-null    object
 8   House_Rule      503 non-null    object
 9   hotel_type      503 non-null    object
dtypes: float64(1), int32(3), object(6)
memory usage: 37.3+ KB